html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.outer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-image: url(https://static.pexels.com/photos/192324/pexels-photo-192324.jpeg);
  background-size: cover;
}

.inner {
  padding: 0;
  margin: 0;
  display: table-cell;
  height: 100%;
  max-height: none;
  vertical-align: middle;
}

.inner p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 60px;
  color: black;
}

.inner form {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color
}

.inner form input {
  background-color: transparent;
  border: 3px solid black;
  border-radius: 20px;
  height: 35px;
  width: 429px;
}

.inner form button {
  color: white;
  background-color: black;
  border: none;
  height: 35px;
  width: 100px;
}
